<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>VIP共享网站--会员卡列表</title>
    <link href="css/list1.css" rel="stylesheet">
    <link href="css/list2.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/baiduTemplate.js"></script>
</head>
<body style="position: relative;">
<!--列表模板 -->
<script id="bdt_list" type="text/html">
    <%console.log(data);%>
    <% for(var i=0;i<=data.length-1;i++){ %>
    <% var item = data[i]; %>
    <a href="javascript:;;" class="rstblock">
        <div class="rstblock-logo">
            <img src="<%=item.img%>" width="70" height="70"  class="rstblock-logo-icon">
            <span><%=item.zhekou%>折优惠</span>
        </div>
        <div class="rstblock-content">
            <div class="rstblock-title"><%=item.name%></div>
            <span class="rstblock-cost">持有人：<%=item.user%></span>
            <div class="rstblock-cost">卡号：<%=item.card%></div>
            <div class="rstblock-activity">
                电话：<%=item.phone%>
            </div>
        </div>
    </a>
    <%}%>
</script>
<div class="ng-isolate-scope">
    <div class="ng-scope ng-isolate-scope">
        <header class="topbar" role="navigation">
            <div class="container clearfix">
                <a href="index.html" class="topbar-item topbar-homepage">首页</a>
                <a href="list.html" class="topbar-item topbar-homepage focus">列表页</a>
                <nav class="topbar-nav">
                    <div topbar-profilebox="">
                        <div class="topbar-profilebox">
                            <span class="topbar-profilebox-avatar icon-profile" ng-show="!$root.user.username"></span>
                            <span id="div_user" >
                                <a href="javascript:;;">兰义明欢迎您!</a>
                                <a href="admin/index.html" target="_blank" style=" margin-left:20px;text-decoration: underline;">个人中心</a>
                            </span>
                            <span id="div_user_login" style="display: none;">
                                <a href="login.html">登录</a> &nbsp;&nbsp;/&nbsp;&nbsp;
                                <a href="register.html">注册</a>
                            </span>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
</div>
<!-- ngView:  -->
<div ng-view="" role="main" class="ng-scope">
    <div class="container clearfix ng-scope">
        <div class="place-search" role="search" search-input="">
            <a class="place-search-btn icon-search"  title="搜索商家或美食" ubt-data-keyword=""></a>
            <label for="globalsearch">搜索商家或美食</label>
            <input id="globalsearch"  class="place-search-input ng-pristine ng-valid"   placeholder="请输入店铺名称">
            <div class="searchbox">
                <div class="searchbox-list searchbox-rstlist ng-hide" >
                    <ul>
                        <!-- ngRepeat: restaurant in searchRestaurants | orderBy: [ '-is_opening', 'order_lead_time' ] | limitTo: 5 --></ul>
                </div>
                <div class="searchbox-list searchbox-foodlist ng-hide" >
                    <ul><!-- ngRepeat: food in searchFoods  | limitTo: 5 --></ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ngIf: activities -->
    <div ng-show="!recentBoughtOnly" class="container ng-scope">
        <div class="excavator container">
            <div class="excavator-filter ng-scope" ng-if="rstCategories.length">
                <span class="excavator-filter-name">店铺分类:</span>
                <a class="excavator-filter-item ng-binding ng-scope active"  href="javascript:" >所有店铺</a>
                <a class="excavator-filter-item ng-binding ng-scope" href="javascript:">体育</a>
                <a class="excavator-filter-item ng-binding ng-scope" href="javascript:">美食</a>
                <a class="excavator-filter-item ng-binding ng-scope" href="javascript:">健身房</a>
                <a class="excavator-filter-item ng-binding ng-scope" href="javascript:">美容</a>
                <a class="excavator-filter-item ng-binding ng-scope" href="javascript:">理发</a>
                <a class="excavator-filter-item ng-binding ng-scope" href="javascript:">酒店</a>
                <a class="excavator-filter-item ng-binding ng-scope" href="javascript:">网吧</a>
                <a class="excavator-filter-item ng-binding ng-scope" href="javascript:">KTV</a>
            </div>
            <!-- end ngIf: rstCategories.length --></div>
        <div class="place-rstbox clearfix">
            <div class="clearfix" id="div_list" style="min-height:1200px;">
            </div>
        </div>
    </div>
</div>

<script>
    function MyCode(){}
    MyCode.prototype = {
        init:function(){
            $.ajax({
                type: 'POST',
                url:'data/list.json',
                data:{},
                success:function(result){
                    var bt = baidu.template;
                    var html = bt('bdt_list',result);
                    $('#div_list').html(html);
                },
                error:function(ex){
                    console.log(ex);
                }
            });
        }
    };


$(function(){

  new MyCode().init();

});


</script>

</body>
</html>
